.app-header{
    background-color:#fc619c;
    height: 64px;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
            width: 250px;
            height: 100%;
            margin: 0;
            font-family: monospace;

            h1{
                color: #fff
            }
        }

        .ant-menu {
            background-color: transparent;
            min-width: 200px;
            border-bottom: 0px;

            .ant-menu-item{
                a{
                    font-family: 'PT Sans';
                    font-size: 18px;
                    font-weight: bold;
                    color: #fff;
                }

            }
            

            .ant-menu-item-selected{
                color: #fff ;
                border-bottom: 0px;

                a{
                    color: #fff;
                    border-bottom: 1px solid;
                }
            }

            .ant-menu-item-active{
                border-bottom: 0px;

                a:hover{
                    font-size: 1.5em;
                    color: #fff;
                }
                
            }

        }
    }
}


@media only screen and (max-width: 420px) {
    .app-header{
        top: auto;
        bottom: 0;

        .container{
        
            .hide-mobile{
                display: none !important;
            }

            .ant-menu{
                width: 100%;
                display: flex;
                justify-content: space-around;
                min-width: auto;

                .ant-menu-item{
                    padding-right: 0 !important;
                    color: #fff;
                }

                .ant-menu-item-selected{
                    span{
                        padding: 10px;
                        border-bottom: 1px solid;
                    }
                }
                
            }

        }
    }
}