.hashtags {

    .swiper-container{
        margin: 10px 0px;
        .swiper-slide {
            width: auto;
            padding: 5px 10px;
            border: 1px solid #b3b3b3;
            border-radius: 5px;

            .tag{
                font-weight: 600;
            }
        }

    }

}

.back-btn{
    margin: 10px;
    font-size: 18px;
    font-weight: 600;
}