.items {
    .mobile-view{
        display: none;
    }
    .ant-card-body{
        padding: 0px;

        .user-details{
            margin: 10px 24px;

            .name{
                margin-left: 10px;
                color: #7882d8;
                font-weight: 600;
            }
        }

        .image-container{
            height: 300px;
            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            
            }

            .image-details{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 15px 10px;
                color: #fff;
                display: flex;
                justify-content: space-between;

                p{
                    margin-bottom: 0px;
                }

                p.price{
                    font-weight: 700;
                    line-height: 1;
                }

                .heart{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    svg{
                        font-size: 20px;
                    }
                }

            }
        }

        .last-section{
            margin: 10px;

            .likes{
                color:#4e5ccc;
                margin-bottom: 10px;
                .no-of-likes{
                    margin-left: 5px;
                }
            }
            

            .desc{
                color: #7b7b7b;
                margin-bottom: 0;
                line-height: 1;
            }
            .hashtags{
                color:#939ddf;
                margin-bottom: 10px;
            }
            
            .comments{
                color: #b3b3b3;
            }
            
    
        }

    }

}

@media only screen and (max-width: 420px) {
    .items{
        // margin-bottom: 100px;
        .mobile-view{
            display: block;
        }
    }
}
  