.content{
    margin-top: 64px;
    padding: 0 50px;

    .page-container{
        margin-top: 84px;

        .mobile-view{
            display: none;
        }
    }

    .ant-empty{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ant-empty-description{
            color: #7b7b7b;
            font-size: 16px;
            margin-bottom: 64px;
        }
        .ant-empty-img-default-path-3{
            fill: pink;
        }
          
    }
    
}

.container{
    max-width: 90%;
    margin: 0 auto;
}
  
@media only screen and (max-width: 420px) {
    .content{
      margin-top: 0;
      padding: 0;

        .page-container{
            margin-top: 0px;

            .mobile-view{
                display: block;
            }
        }
    }
    .container{
        max-width: 100%;
    }

}
  